#help {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#gif-gifs .card {
    margin: 15px;
}

button {
    cursor: pointer;
}
